# Ignore everything
*

# But not these files...
!.gitignore
!.zshrc
!.zshrc_custom
!.alias_zsh
!.gitconfig
!.sqliterc
!.vscode/
!.vscode/keybindings.json
!.sqliterc
!.vimrc




# etc...

# ...even if they are in subdirectories
# !*/




